{% extends "admin/base.html.twig" %}

{% block title %}Modification de l'annonce n°{{ad.id}}
{% endblock %}

{# ce thème servira pour l'affichage des images. il s'agit des blocks commençant par _ #}
{% form_theme form _self %}
{% block body %}
	<div class="container">
		<h1 class="my-5">Modification de l'annonce
			{{ad.title}}</h1>

		{{ form_start(form) }}

		<div class="row">
			<div class="col">
				<div class="card bg-light">
					<div class="card-header">
						<h4 class="card-title">
							Corriger l'annonce ?
						</h4>
					</div>
					<div class="card-body">
						{{ form_widget(form) }}
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-check"></i>
							Enregistrer les modifications
						</button>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-light">
					<div class="card-header">
						<h4 class="card-title">
							Les réservations
						</h4>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th>Id</th>
									<th>Voyageur</th>
									<th>Date de réservation</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for booking in ad.bookings %}
									<tr>
										<td>{{booking.id}}</td>
										<td>{{booking.booker.fullName}}</td>
										<td>{{booking.createdAt | date('d/m/Y H:i')}}</td>
										<td>
											<a href="#" class="btn btn-primary">
												<i class="fas fa-pencil"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<div class="card bg-light mt-5">
					<div class="card-header">
						<h4 class="card-title">
							Les commentaires
						</h4>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th>Id</th>
									<th>Voyageur</th>
									<th>Note</th>
									<th>Commentaire</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								{% for comment in ad.comments %}
									<tr>
										<td>{{comment.id}}</td>
										<td>{{comment.author.fullName}}</td>
										<td>{{comment.rating }}</td>
										<td>{{comment.content }}</td>
										<td>
											<a href="#" class="btn btn-primary">
												<i class="fas fa-pencil"></i>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div>

		{{ form_end(form) }}

	</div>
{% endblock %}

{% block _ad_form_images_widget %}
	{# et ici, la variable form vaudra uniquement pour les IMAGES !! #}
	{{ form_widget(form) }}
{% endblock %}

{% block _ad_form_images_entry_row %}
	{# {{ dump() }} #}
	<div id="block_{{id}}">
	{# définition d'un row de type image : ici, on précise qu'on prend le widget seulement (pas le form label !): le champ.  #}
	{{ form_widget(form) }}
	</div>

{% endblock %}

{% block _ad_form_images_entry_widget %}
	{# et ici, form représente le form d'une seule image ! #}
	<div class="row align-items-center mb-3">
		<div class="col-4">
		{% if value %}
			
		<img src="{{ value.url }}" alt="" class="img-fluid">
		{% endif %}

			{# {{form_row(form.url)}} #}
		</div>
		<div class="col-6">
			{{ form_row(form.caption) }}
		</div>
		<div class="col">
			<button:button class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">
				<i class="fas fa-trash"></i>
			</button:button>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
$('[data-action="delete"]').on('click', function(){
	let target = this.dataset.target;
	$(target).remove();
});

})
</script>
{% endblock %}
