<!DOCTYPE html>
{# TAPER html:5 permmet de créer le squelette html de la page ! #}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Connexion à l'administration</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<style>
			body {
				display: flex;
				justify-content: center;
				height: 100vh;
			}

			.card {
				margin-top: 10%;
			}
		</style>
	</head>
	<body>
		<div class="col-md-4">

			<div class="card bg-light">
				<div class="card-header">
					<h4 class="card-title">
						<i class="fas fa-loc"></i>
						Connexion à l'administration
					</h4>
				</div>
				<div class="card-body">
                {% if hasError %}
                    <div class="alert alert-warning">
                    <p>
                    Les informations fournies sont incorrectes.
                    </p></div>
                {% endif %}
					<form
						method="post">
						{# formule pour créer ça -------->     (div.form-group>label+input.form-control[placeholder name])*2 #}
						<div class="form-group">
							<label for="_username">Email</label><input type="text" class="form-control" placeholder="Adresse mail..." name="_username" value=" {{username}} "></div>
						<div class="form-group">
							<label for="_password">Mot de passe</label><input type="password" class="form-control" placeholder="Mot de passe..." name="_password"></div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">
								<i class="fas fa-lock-open"></i>
								Connexion !
							</button>
							<a href=" {{ path('home')}} " class="btn btn-link">
								<i class="fas fa-arrow-circle-left"></i>
								Retour au site
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
