{% extends "base.html.twig" %}
{% block title %}Modification du mot de passe{% endblock %}
{% block body %}
    <div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
    {{ form_end(form) }}
    </div>
{% endblock %}