{% extends "base.html.twig" %}
{% block title %}Modification du profil utilisateur
{% endblock %}
{% block body %}
	<div class="container">
		<h1>Modification du Profil</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Enregistrerles modifications</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
