{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="jumbotron mt-3">
			<h1 class="display-3">Bienvenue sur SymBnB !</h1>
			<p class="lead">Nous mettons en relation des  propriétaires souhaitant proposer leurs biens à la location</p>
			<hr class="my-4">
			<p>Vous êtes voyageurs et voulez être partout chez vous ?</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href=" {{ path('ad_index') }} " role="button">Voir nos annonces</a>
			</p>
		</div>
		<h2 class="mt-3 mb-4">Nos appartements stars</h2>
		<div class="row">
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong><br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px; width:100%; display: block;">
					<div class="card-body">
						<h4 class="card-title">Appartement de fou !</h4>
						<p class="card-text">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit iste alias autem consequuntur. Quam fugit non nostrum dolorem doloribus dolorum!</p>
						<a href="#" class="btn btn-secondary">En savoir plus !</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong><br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px; width:100%; display: block;">
					<div class="card-body">
						<h4 class="card-title">Appartement de fou !</h4>
						<p class="card-text">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit iste alias autem consequuntur. Quam fugit non nostrum dolorem doloribus dolorum!</p>
						<a href="#" class="btn btn-secondary">En savoir plus !</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card bg-light mb-3">
					<div class="card-header text-center">
						3 chambres,
						<strong>49&euro; / nuit</strong><br>
						<small>Pas encore noté</small>
					</div>
					<img src="http://placehold.it/1000x400" alt="image de l'appartement" style="height: 200px; width:100%; display: block;">
					<div class="card-body">
						<h4 class="card-title">Appartement de fou !</h4>
						<p class="card-text">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit iste alias autem consequuntur. Quam fugit non nostrum dolorem doloribus dolorum!</p>
						<a href="#" class="btn btn-secondary">En savoir plus !</a>
					</div>
				</div>
			</div>
		</div>
		<h2 class="mt-3 mb-4">Nos Propriétaires stars !</h2>
		<div class="row">
			<div class="col">
				<div class="card border-secondary mb-3">
					<div class="card-body">
						<h4 class="card-title">Bruno AAA</h4>
						<hr>
						<div class="card-text">
							<img src="http://placehold.it/64x64" alt="Avatar de Bruno" class="float-left">
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint mollitia officiis blanditiis harum architecto quae!</p>
							<a href="#" class="btn btn-success float-right">En savoirplus !</a>
						</div>

					</div>
				</div>
			</div>
            <div class="col">
				<div class="card border-secondary mb-3">
					<div class="card-body">
						<h4 class="card-title">Bruno AAA</h4>
						<hr>
						<div class="card-text">
							<img src="http://placehold.it/64x64" alt="Avatar de Bruno" class="float-left">
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint mollitia officiis blanditiis harum architecto quae!</p>
							<a href="#" class="btn btn-success float-right">En savoirplus !</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
