div.container {
  margin-top: 20px;
}

div.ad-title {
  padding: 2em;
  background-size: cover;
  background-position: center center;
}

div.ad-title h1,
div.ad-title p {
  color: wheat;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.ad-title .btn {
  margin-top: 2em;
  font-size: 1.5em;
  line-height: 1.5em;
}

div.carousel-caption {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
}

.avatar-medium {
  max-width: 64px;
  max-height: 64px;
}

.avatar-mini {
  max-width: 24px;
  max-height: 24px;
}

.avatar-micro {
  max-width: 20px;
  max-height: 20px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  color: firebrick !important;
}

span.rating i {
  color: goldenrod;
}

.alert a {
  text-decoration: none;
}