{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des réservations
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Administration des réservations</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Visiteur</th>
					<th>Annonce</th>
					<th>Durée</th>
					<th>Montant</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for booking in pagination.data %}
					<tr>
						<td>
							{{booking.id}}
						</td>
						<td>
							{{booking.createdAt | date('d/M/Y H:i')}}
						</td>
						<td>
							<img src=" {{booking.booker.picture}} " alt="Avatar de {{booking.booker.fullName}} " class="avatar avatar-micro mr-2">

							{{booking.booker.fullName}}
						</td>
						<td>
							{{booking.ad.title}}
						</td>
						<td>
							{{booking.duration}}
						</td>
						<td>
							{{booking.amount}}
						</td>
						<td>
							<a href=" {{ path('admin_bookings_edit', {'id': booking.id})}} " class="btn btn-primary">
								<i class="fas fa-edit"></i>
							</a>
							<a href=" {{ path('admin_bookings_delete', {'id': booking.id})}} " class="btn btn-danger">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{{ pagination.display() }}
		{# {% include "admin/partials/pagination.html.twig" with {'route': 'admin_bookings_index'} %} #}
	</div>
</div>{% endblock %}
