<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SymBnB -
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																				           and uncomment the following Encore helpers to start using Symfony UX #}
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link href="/css/app.css" rel="stylesheet">
		<link rel="shortcut icon" href="#">

		{% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}


	</head>

	<body>
		{% include "admin/partials/header.html.twig" %}

		{% block body %}{% endblock %}

		{% include "admin/partials/footer.html.twig" %}
	</body>


	<script src="/js/jquery.js"></script>
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	{% block javascripts %}
		{# {{ encore_entry_script_tags('app') }} #}
	{% endblock %}

</html>
