{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce :
	{{ad.title}}
	!
{% endblock %}

{% block stylesheets %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous"/>


{% endblock %}

{% block body %}
	<div class="container">
		<h1>Réservez pour l'annonce :
			{{ad.title}}</h1>
		<p>Vous êtes sur le pint de réserver le bien de
			<strong>
				{{ad.author.fullName}}
			</strong>, dites nous tout, on s'occupe du reste !</p>
		{{ form_start(form) }}
		<div class="alert alert-light">
			<h2>Quelles sont les dates qui vous intéressent ?</h2>
			<div class="row">
				<div class="col">
					{{ form_row(form.startDate) }}
				</div>
				<div class="col">
					{{ form_row(form.endDate) }}
				</div>
			</div>
			<h4>Montant du séjour :
				<span id="amount">
					...
				</span>
				&euro;</h4>
			<span id="days">0</span>
			nuit(s) à
			{{ad.price}}
			/ nuit
			<h4 class="mt-3">Vous avez un commentaire ?</h4>
			{{ form_row(form.comment) }}
		</div>
		<h2>Vous avez terminé !</h2>
		<p>Vacances de rêve ? Hébergement pour le boulot ? Aqui, todo es possible.</p>
		<button type="submit" class="btn btn-success">Je réserve !</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
{% block javascripts %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
			$('#booking_form_startDate, #booking_form_endDate').datepicker({
				format: 'dd/mm/yyyy',
				datesDisabled: [{% for day in ad.notAvailableDays %}"{{ day.format('d/m/Y') }}",{% endfor %}],
				startDate: new Date() // pour que le calendar demarre ajd
			});
			// On colle un eventListenner aux champs date pour maj en temps réel du prix et nbre de nuits
			$('#booking_form_startDate, #booking_form_endDate').change(function(){
				calculateAmount()
			});
		});


		function calculateAmount(){
			// recup des dates
			// on va changer : 17/12/2020 en 2020-12-17 grâce à la regExp : (\d+)\/(\d+)\/(\d{4})
			// sinon ca ne marche pas, vu que les valeurs recuperees sont des dates fr...
			let endDate = new Date($('#booking_form_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
			let startDate = new Date($('#booking_form_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

			if(startDate && endDate && startDate < endDate){
				let DAY_TIME = 24*60*60*1000;
				let interval = endDate.getTime() - startDate.getTime();
				let days = interval / DAY_TIME;
				let amount = days * {{ ad.price }};

				$('#days').text(days);
				$('#amount').text(amount.toLocaleString('fr-FR'));
			} else {
				$('#days').text(0);
				amount = 0;
				$('#amount').text(amount.toLocaleString('fr-FR'));
			}
		}

	</script>

{% endblock %}
