{% extends 'admin/base.html.twig' %}

{% block title %}Edition du commentaire n°
	{{comment.id}}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5">Edition du commentaire n°
			{{comment.id}}</h1>
		<div class="row">
			<div class="col bg-primary text-light rounded py-3 my-5">
				<p>
					<strong>Annonce liée :
					</strong>
					{{comment.ad.title}}
				</p>
				<p>
					<strong>Auteur :
					</strong>
					{{comment.author.fullName}}</p>
				<p>
					<strong>Date de création :
					</strong>
					{{comment.createdAt | date('d/m/Y H:i')}}</p>
				<p>
					<strong>Note donnée :
					</strong>
					{{comment.rating}}</p>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col">
            <h4>Contenu du commentaire : </h4>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
				{{ form_end(form) }}

			</div>
		</div>
	</div>
{% endblock %}
