{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires !
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="my-5">Administration des commentaires</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Date</th>
					<th>Auteur</th>
					<th>Commentaire</th>
					<th>Note</th>
					<th>Annonce</th>
				</tr>
			</thead>
			<tbody>
				{% for comment in pagination.data %}
					<tr>
						<td>
							{{comment.id}}
						</td>
						<td>
							{{comment.createdAt | date('d/m/Y H:i')}}
						</td>
						<td>
							<img src=" {{comment.author.picture}} " alt="Avatar de {{comment.author.fullName}} " class="avatar avatar-micro mr-2">
							<br>
							{{comment.author.fullName}}
						</td>
						<td>
							{{comment.content}}
						</td>
						<td>
							<span class="badge badge-primary rounded">
								{{comment.rating}}
							</span>
						</td>
						<td>
							{{comment.ad.title}}
						</td>
						<td>
							<a href=" {{path('admin_comments_edit', {'id': comment.id})}} " class="btn btn-primary mb-1">
								<i class="fas fa-edit"></i>
							</a>
							<a href=" {{path('admin_comments_delete', {'id':comment.id})}} " class="btn btn-danger">
								<i class="fa fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{# {% include "admin/partials/pagination.html.twig" with {'route': 'admin_comments_index'} %} #}
		{{ pagination.display() }}
	</div>

{% endblock %}
