{# variable twig pour factoriser le code #}
{% set url = path('ads_show', {'slug': ad.slug}) %}
<div class="col-md-4">
	<div class="card bg-light mb-3">
		<div class="card-header text-center">
			{{ ad.rooms }}
			chambres,
			<strong>{{ ad.price }}
				&euro; / nuit</strong><br>
				{% if ad.comments|length > 0 %}
				{% include "partials/rating.html.twig" with {'rating': ad.avgRatings} %}
					{% else %}
			<small>Pas encore noté</small>
				{% endif %}
		</div>
		<a href=" {{ url }} ">
			<img src=" {{ ad.coverImage}} " alt="image de l'appartement" style="height: 200px; width:100%; display: block;">
		</a>
		<div class="card-body">
			<h4 class="card-title">
				<a href=" {{ url}} ">
					{{ ad.title }}
				</a>
			</h4>
			<p class="card-text">
				{{ ad.introduction }}
			</p>
			<a href="{{ url}}" class="btn btn-secondary">En savoir plus !</a>

				{% if app.user and app.user == ad.author %}
				
			<a href="{{path('ads_edit', {'slug' : ad.slug})}}" class="btn btn-primary">
				Modifier l'annonce
			</a>

			{% endif %}

			
		</div>
	</div>
</div>
