{# On a mis ici la 'template' des éléments du formulaire relatif à la collection d'images #}

{% block _ad_form_images_widget %}
	<p>Ajoutez vos images !</p>
	{# la variable form dépend du bloc dans lequel elle est placée ! ici, ad_images #}
	{{ form_widget(form) }}
	{# un input SANS NAME n'est pas transmis au serveur !#}
	{# cet input permet de corriger un bug : 
			si on suppr le x ième form image et qu'on en remet un,
			les 2 ont le même indice !!! Ca craint.#}
	<input type="hidden" id="widgets-counter" value="0"> 
    <div class="form-group">

		<button type="button" id="add-image" class="btn btn-primary">
			Ajouter une image
		</button>
	</div>
{% endblock  %}


{% block _ad_form_images_entry_row %}
	{# la row contient le label, les erreurs, le widget et les aides#}
	{{form_widget(form)}}
{% endblock %}


{% block _ad_form_images_entry_widget %}
	<div class="form-group" id="block_{{id}}">
		{{ form_errors(form) }}
		<div class="row">
			<div class="col-10">
				<div class="row">
					<div class="col">
						{{ form_errors(form.url) }}
						{{ form_widget(form.url) }}
					</div>
					<div class="col">
						{{ form_errors(form.caption) }}
						{{ form_widget(form.caption) }}
					</div>
				</div>
			</div>
			<div class="col-2">
				<button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
			</div>
		</div>
	</div>
{% endblock %}
