{% extends 'base.html.twig' %}

{% block title %}Nos Annonces
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="h1 my-3">Voici les annonces de nos hôtes !</h1>
		<div class="row">
			{% for ad in ads %}
			{% include "ad/_ad.html.twig" %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
