{% extends "base.html.twig" %}
{% block title %}
	Création d'une annonce
{% endblock %}

{#En lien avec l'affichage du form de la collection d'images:#}
{% block body %}
	<div class="container">
		<h1 class="h1">Créer une nouvelle annonce</h1>
		{% form_theme form 'ad/_collection.html.twig' %}

		{{ form_start(form) }}

		{{ form_widget(form) }}

		<button class="btn btn-primary">
			Créer la nouvelle annonce</button>

		{{ form_end(form) }}

	</div>
{% endblock %}

{# _NOM_widget permet de travailler seulement sur le champ ad_form_images 
(appelé images dans le AdFormType, le nom est visible dqns l'inspecteur) #}
{% block _ad_form_images_widget %}
	<p>Ajoutez vos images !</p>
	{# la variable form dépend du bloc dans lequel elle est placée ! ici, ad_images #}
	{{ form_widget(form) }}
	{# un input SANS NAME n'est pas transmis au serveur !#}
	{# cet input permet de corriger un bug : 
	si on suppr le x ième form image et qu'on en remet un,
	les 2 ont le même indice !!! Ca craint.#}
	<input type="hidden" id="widgets-counter" value="0">
	<div class="form-group">
		<button type="button" id="add-image" class="btn btn-primary">
			Ajouter une image
		</button>
	</div>
{% endblock  %}

{% block javascripts %}
	<script src="/js/ad.js"></script>
{% endblock  %}

