{% extends "base.html.twig" %}

{% block title %}
	{{ ad.title }}
{% endblock %}

{% block body %}
	<div class="ad-title" style="background-image: url( {{ ad.coverimage}} ) ">
		<div class="container">
			<h1 class="h1">
				{{ ad.title }}
			</h1>
			<p>{{ ad.introduction }}</p>
			<p class="h2">
				<strong>{{ ad.rooms }}
					chambres</strong>
				pour
				<strong>
					{{ ad.price }}&euro;
				</strong>
				par nuit.
			</p>
			<a href=" {{ path('booking_create', {'slug': ad.slug}) }} " class="btn btn-primary">Réserver</a>

			{% if app.user and app.user == ad.author %}

				<a href="{{path('ads_edit', {'slug' : ad.slug})}}" class="btn btn-primary">
					Modifier l'annonce
				</a>
				<a href="{{path('ads_delete', {'slug': ad.slug})}}" class="btn btn-danger" onclick="return confirm(`Êtes vous certqin de vouloir supprimer l'annonce : {{ad.title}} ?`)">Supprimer l'annonce</a>
			{% endif %}
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 mb-3">
				{{ ad.content | raw }}

				<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						{% for img in ad.images %}

							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=" {{ loop.index0 }} " class="{% if loop.first %} active {% endif %}" aria-current="true" aria-label="Slide 1"></button>

						{% endfor %}
					</div>
					<div class="carousel-inner">
						{% for img in ad.images %}
							<div class="carousel-item {% if loop.first %} active {% endif %} ">
								<img src=" {{ img.url }} " class="d-block w-100" alt="first image">
								<div class="carousel-caption d-none d-md-block">
									<h5>
										{{ ad.title }}
									</h5>
									<p>
										{{ img.caption }}
									</p>
								</div>
							</div>
						{% endfor %}

					</div>
					<a class="carousel-control-prev" role="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</a>
					<a class="carousel-control-next" role="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</a>
				</div>

				<hr>
				{% if ad.comments | length > 0 %}
					<h2 class="mb-3">Commenaires de nos voyageurs :</h2>

					{# la note moyenne #}
					<div class="alert alert-info">
						<h4 class="alert-heading text-center">
						<div class="row align-items-center">
							<div class="col">
								Note globale donnée par nos voyageurs :
							</div>
							<div class="col">

								{% include "partials/rating.html.twig" with {'rating': ad.avgRatings} %}
								<br>
								<small>(Calculée sur {{ad.comments | length}} avis)</small>

							</div>
						</div>
						</h4>
					</div>
					{% for comment in ad.comments %}
						<div class="bg-light rounded mb-3 py-3px-3">
							<strong>
								{{comment.author.firstName}}
							</strong>
							a dit :
							<blockquote>
								<i>
									{{comment.content}}

								</i>
							</blockquote>
							<strong>
								Note donnée	: 
							</strong>
							{# Pour que le block ait la vrible rating : #}
							{# {% set rating = comment.rating %} #}
							{# {% include "partial/rating.html.twig" %} #}
							{# Autre solution => en passant la variable dans un TABLEAU TWIG :  #}
							{# Ainsi, ce block RATING sera dispo partout, il suffit de lui passer une variable rating ! #}
						{% include "partials/rating.html.twig" with {'rating': comment.rating} %}
					</div>

					{% endfor %}

				{% else %}
					<h2>Cette annonce n'a pas encore reçu de commentaire...</h2>
				{% endif %}

			</div>
			<div
				class="col">
				{# on factorise ! #}
				{% set a = ad.author %}
				<div class="row mb-3 align-items-center">
					<div class="col-3">
						<a href=" {{ path('user_show', {'slug': a.slug})}} ">
							<img src=" {{ a.picture}} " class="avatar avatar-medium" alt="Avatar de {{ a.fullName }}">
						</a>
					</div>
					<div class="col">
						<a href=" {{ path('user_show', {'slug': a.slug})}} ">
							<h3>
								{{ a.fullName }}
							</h3>
						</a>
						<span class="badge badge-primary">
							{{ a.ads | length }}
							annonces</span>
					</div>
				</div>
				{{ a.description | raw}}
			</div>
		</div>
	</div>

{% endblock %}
