{# Fichier mis en place a la main et a nommer correctement ! (arbo faite a la main aussi !) 
Pour tester cette page il faut utiliser une route particuliere (sinon en dev on peut pas le voir, ce n'est que pour la prod)

on fera avec : http://localhost:xxxx/_error/404

SINON : dqns le .env, chqnger dev par prod pour APP_ENV
#}

{% extends "base.html.twig" %}

{% block title %}Page Interdite
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Oups ! Page Interdite il me semble...</h1>
        <p>Dommage INTERDIT !!! ;)</p>

        <a href="{{path('home')}}" class="btn btn-primary">Acceuil</a>
        <a href="{{path('ad_index')}}" class="btn btn-success">Nos Annonces</a>
	</div>
{% endblock %}
